<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ac.uibk/at/qe/dsl/oscilloscope/Oscilloscope"
			class = "uibk.ac.at.qe.dsl.oscilloscope.oscilloscope.OscilloscopePackage"
			genModel = "model/generated/Oscilloscope.genmodel" />
	</extension>
</plugin>
